*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body{
	font-family: 'Helvetica', Arial, sans-serif;
	overflow-x: hidden !important;
}

/*-----------------------------header---------------------------------------*/

header{
	background-color: #4c4c4c;
}
.wrapper{
	padding: 0 50px;
}
.nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header nav ul, .icons ul{
	display: flex;
}
.logo{
	background-color: orange;
	padding: 20px;
}
.logo a{
	color: white;
	text-decoration: none;
}
.logo p{
	font-size: 10px;
}
nav ul li{
	list-style-type: none;
	padding: 30px;
}
nav ul li a{
	text-decoration: none;
	color: white;
	font-weight: 600;
	font-size: 12px;
}
nav ul li a:hover{
	color: orange;
}
.icons ul li{
	list-style-type: none;
	padding: 10px;
	font-size: 12px;
}
.icons ul li a{
	text-decoration: none;
	color: grey;
}
.icons ul li a:hover{
	color: white;
}

/*-------------------------banner--------------------------------*/

figure img{
	position: relative;
	display: inline-block;
}
.banner .wrapper{
	position: absolute;
	z-index: 10;
    display: flex;
    justify-content: center;       
    text-align: center;
	margin: 0 auto;
	padding: 40px;
	width: 60%;
    left: 0;
    right: 0; 
    bottom: 10%;
    background-color: orange;
    color: white;
}

/*---------------------------------------------------------------*/