*{
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}
body{
	font-family: 'Helvetica', Arial, sans-serif;
	overflow-x: hidden !important;
}

.wrapper{
	/*width:92.6%;*/
	padding: 0 50px;
	margin: 0 auto;
}

a{
	text-decoration: none;
}

/*-----------------------------header---------------------------------------*/

header{
	max-height: 18vh;
	background-color: #4c4c4c;
}
header li{
	display: inline-block;
}
.logo{
	height: 18vh;
	padding: 25px;
	display: inline-block;
	background-color: orange;
}
.logo h1{
	color: white;
	font-size: 40px;
}
.logo span{
	color: white;
	font-size: 12px;
}
nav{
	width: 60%;
	display: inline-block;
}
nav li{
	padding: 12px;
	list-style-type: none;
}
nav li:first-child{
	margin-left: 120px;
}
nav a{
	padding: 5px;
	color: white;
	font-size: 13px;
	font-weight: 600;
}
header .icons{
	/*float: right;*/
	margin-right: 0;
	margin-left: 37px;
	display: inline-block;
}
header .icons a{
	padding: 5px;
	color: grey;
	font-size: 12px;
}
header .icons li{
	padding: 3px;
}


/*-------------------------banner--------------------------------*/

.banner{
	position: relative;
}
.banner img{
	width: 100%;
	height: auto;
	/*display: inline-block;*/
}
.banner .wrapper{
	width: 750px;
	margin: 0 auto;
	position: absolute;
	z-index: 2;      
    right: 0; 
    bottom: 5px;
    left: 0;
    background-color: orange;
    color: white;
    text-align: center;
}
.banner a{
	display: inline-block;
	position: absolute;
	top: 30%;
	color: white;	
	font-size: 35px;
	text-decoration: none;
}
.banner h2{
	width: 580px;
	padding: 20px 50px;
	display: inline-block;
	font-size: 35px;
}

/*--------------------------features-------------------------------------*/

.features{
	padding: 40px 0px 70px 0px;
}
.features h3{
	padding: 50px;
	color: #4c4c4c;
	font-size: 40px;
	text-align: center;
}
.features ul{
	display: flex;
}
.features ul li{
	color: #4c4c4c; 
	list-style-type: none;
	text-align: center;
}
.feature .icon img{
	border-radius: 50%;
}
.feature h4{
	padding: 20px;
	font-size: 20px;
	font-weight:750;
}
.feature p{
	padding: 20px;
	color: #ccc;
	font-weight: 500;
}
.feature a{
	padding: 10px;
	border: 1px solid #4c4c4c;
	margin: 10px;
	display: inline-block;
	color: #4c4c4c;
	font-weight: 600;
}
.feature a:hover{
	color: orange;
	border-color: orange;
}

/*-----------------------------cards----------------------------------*/

.cards{
	padding: 88px 0px 58px 0px;
	background-color: #eee;
}
.cards h3{
	color: #4c4c4c;
	font-size: 40px;
	text-align: center;
}
.cards p{
	padding:20px 40px;
	color: #ccc;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
}
.cards ul{
	display: flex;
}
.cards ul li{
	margin: 10px;
	background-color: white;
	list-style-type: none;
	text-align: center;
}
.card figure{
	padding: 10px;
}
.cards img{
	width: 100%;
	height: auto;
}
.card h4{
	padding: 35px 20px 0px 20px;
	color: orange;
	font-size: 28px;
}
.card a{
	padding: 3px 8px;
	border: 2px solid black;
	border-radius: 50%;
	margin-bottom: 40px;
	display: inline-block;
}


/*----------------------------learn---------------------------------*/

.learn ul{
	/*margin-top: 80px;*/
	margin-left: 20px;
}
.learn .wrapper{
	padding: 0;
	display: flex;
}
.learn1{
	width: 50%;
	padding: 50px;
	padding-right: 100px;
	display: inline-block;
	background-color: orange;
	color: white;
}
.learn1 ul{
	padding: 38px 0px 40px 0px;
}
.learn2 ul{
	padding: 38px 0px 10px 0px;
}
.learn2{
	width: 50%;
	padding: 50px;
	padding-left: 100px;
	display: inline-block;
	background-color: #4c4c4c;
	color: white;
}
.learn ul li{
	line-height: 30px;
}
.learn h3{
	font-size: 35px;
}
.learn p{
	padding: 0px 0px 30px 0px;
	font-size: 16px;
}
.learn a{
	padding: 10px;
	border: 1px solid white;
	display: inline-block;
	color: white;
	font-weight: 600;
	text-decoration: none;

}
.learn1 a:hover{
	border-color: #4c4c4c;
	color: #4c4c4c;
}
.learn2 a:hover{
	border-color: orange;
	color: orange;
}

/*----------------------company----------------------------*/

.company .wrapper{
	display: flex;
}
.company ul{
	padding: 30px;
	margin: auto;
	display: flex;
	justify-content: space-between;
}
.company ul li{
	padding: 10px;
	list-style-type: none;
}
.company a{
	align-self: center;
	color: black;
	text-decoration: none;
}

/*--------------------------contacts----------------------------*/

.contacts{
	padding: 35px 0px 50px 0px;
	background-image: url("images/bg-1366x415.png");
	background-repeat: no-repeat;
	background-size: cover;
}
.c1{
	display: inline-block;
	float: left;
}
.c2{
	margin-left: 30px;
	display: inline-block;
}
.c2 input:first-child{
	width: 820px;
	height: 128px;
}
.c2 input:last-child{
	padding: 16px 32px;
	border: none;
	margin-top: 12px;
	margin-left: 705px;
	display: block;
	background-color: orange;
	color: white;
	font-size: 18px;
	font-weight: 600; 
}
.c1 input{
	width: 395px;
	height: 33px;
	margin-bottom: 15px;
	display: block;
}
.contacts h3{
	padding: 40px;
	color: white;
	font-size: 32px;
	text-align: center;
	text-shadow: 2px 2px #4c4c4c;
}

/*------------------------------links----------------------------------*/

.links{
	padding: 100px 0;
	background-color: #4c4c4c;
}
.links ul{
	display: flex;
	justify-content: space-around;
}
.links ul li{
	list-style-type: none;
}
.links i{
	padding: 15px;
	border: 10px solid #ddd;
	border-radius: 50%;
	background: orange;
	color: white;
}
.links i:hover{
	border-color: orange;
	background: #ddd;
	color: orange;
}
.links a{
	align-self: center;
	color: #fff;
	font-weight: 600;
	text-decoration: none;
}
.links a:hover{
	color: orange;
}

/*-------------------------footer-----------------------------*/


footer{
	padding: 80px 0px 400px 0px;
	background-color: #4c4c4c;
}/*
footer .wrapper{
	display: flex;
	justify-content: space-between;
}*/
.foot,.map{
	display: inline-block;
}
.map{
	float: right;
}
footer h3,footer p{
	display: inline;
	color: white;
}
footer h3{
	font-size: 30px;
}
footer p{
	font-size: 14px;
}
footer a i{
	color: orange;
	font-size: 30px;
}
footer a i:hover{
	color: white;
}
footer .icons li{
	padding: 10px;
	display: inline-block;
	list-style-type: none;
}