@charset "utf-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }

sub { bottom: -.25em; }

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }

sub { bottom: -.25em; }

*{
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}
body{
	color: #4E494E;
	font-family: 'Helvetica', Arial, sans-serif;
	overflow-x: hidden !important;
} 

.wrapper{
	width: 72.2%;
	/*padding: 0 188px;*/
	margin: 0 auto;
}
a{
	color: #4E494E;
	text-decoration: none;
}
li{
	list-style-type: none;
}
figure img{
	width: 100%;
	height: auto;
}
section{
	text-align: center;
}

/* header */

header{
	background-color: #F6EDDC;
	width: 100%;
	position: fixed;
	z-index: 3;
	top: 0;
	/*padding-bottom: 15px;*/
}
.top{
	padding: 0 188px;
	border-bottom: 1px solid #4E494E;
	font-size: 12px;
}
.top span{
	display: inline-block;
	padding: 10px 0;
}
.top ul{
	float: right;
	font-size: 14px;
}
.top li, h1{
	padding: 10px 0;
}
.top a, navbar a{
	padding: 5px;
}
.navbar, nav li, h1, .top ul{
	display: inline-block;
}
.navbar{
	float: right;
}
.navbar ul{
	padding: 10px;
}
.navbar li{
	padding: 10px;
}
.navbar a{
	padding: 5px;
}
.navbar a:hover{
	background-color: #4E494E;
	color: #F6EDDC;
}
.search_icon:hover{
	background-color: #fff;
	color: #4E494E;
}
.search{
	width: 260px;
	padding: 8px;
	border: 1px solid #4E494E;
	border-radius: 20px;
	margin-right: -25px;
}
.search_box{
	position: relative;
	/*margin-left: 35px;*/
}
.search_icon{
	position: absolute;
	top:50%;
	transform: translateY(-50%);
	/*padding-right: 50px;*/
}
.cart{
	padding: 0;
}


#check{
	display: none;
}
#cross{
	display: none;
}
.checkbtn{
	float: right;
	font-size: 25px;
	padding: 5px;
	cursor: pointer;
	display: none;
	position: relative;
	user-select: none;
}

.check:checked ~ .navbar{
	display: block !important;
	max-height: 80vh;
	transition: max-height .2s ease-out;
}
.check:checked ~ .navbar li{
	display: block;
}
/*.check:checked ~ .navbar ul li a{
	display: block;
}*/
.check:checked ~ .checkbtn #cross{
	display: block;
}
.check:checked ~ .checkbtn #bars{
	display: none;
}
/*.check:checked ~ */

/* banner */

.banner figure{
	margin-top: 4%;
}
.head{
	padding: 15px;
	text-align: center;
}
.head a{
	color: #94B7B7;
}

/* about */

.about{
	padding: 40px 0;
	margin-top: -5px;
	background-color: #F4F9FC;
}
.about h2{
	font-size: 28px;
}
.about p{
	width: 80%;
	padding: 20px;
	margin: 0 auto;
}
.about a{
	padding: 20px 40px;
	margin: 15px;
	display: inline-block;
	background-color: #F8A883;
	color: #fff;
}
.about a:hover{
	background-color: #4E494E;
}

/* month */

.month{
	padding: 60px 0;
}
.month h2{
	padding: 20px;
	font-size: 30px;
}
.month p{
	padding: 20px;
	font-size: 18px;
}
.month ul{
	width: 100%;
}
.month li{
	width: 32%;
	padding: 10px;
	display: inline-block;
}
figcaption{
	padding:10px 0;
}
.month a{
	padding: 20px 80px;
	border: 1px solid #4E494E;
	margin: 30px 0;
	display: inline-block;
}
.month a:hover{
	background-color: #4E494E;
	color: #fff;
}
.month:after{
	width: 72.2%;
	padding:10px;
	border-bottom: 2px solid #F8A883;
	margin: 0 auto;
	display: block;
	content: "";
}

/* treat */

.treat{
	padding: 30px 0;
}
.treat h2{
	padding: 20px;
	font-size: 30px;
}
.treat h3{
	padding-top: 20px;
}
.treat p{
	padding: 20px;
	font-size: 18px;
}
.treat ul p{
	padding: 10px;
	font-size: 15px;
}
.treat ul{
	width: 100%;
}
.treat li{
	width: 32%;
	padding: 10px;
	display: inline-block;
}
.treat a{
	padding: 20px 80px;
	border: 1px solid #4E494E;
	margin: 30px 0;
	display: inline-block;
}
.treat a:hover{
	background-color: #4E494E;
	color: #fff;
}
.treat:after{
	width: 72.2%;
	padding:10px;
	border-bottom: 2px solid #F8A883;
	margin: 0 auto;
	display: block;
	content: "";
}

/* browse */

.browse{
	padding: 40px 0;
}
.browse h2{
	padding: 20px;
	font-size: 30px;
}
.browse a{
	padding: 20px 80px;
	border: 1px solid #4E494E;
	margin: 30px 0;
	display: inline-block;
}
.browse a:hover{
	background-color: #4E494E;
	color: #fff;
}
.browse:after{
	width: 72.2%;
	padding:10px;
	border-bottom: 2px solid #F8A883;
	margin: 0 auto;
	display: block;
	content: "";
}

/* feature */

.feature h2{
	padding: 20px;
	font-size: 30px;
}
.feature li{
	padding: 10px;
	display: inline-block;
}
.feature a{
	padding: 20px 80px;
	border: 1px solid #4E494E;
	margin: 30px 0;
	display: inline-block;
}
.feature a:hover{
	background-color: #4E494E;
	color: #fff;
}
.feature:after{
	width: 72.2%;
	padding:10px;
	border-bottom: 2px solid #F8A883;
	margin: 0 auto;
	display: block;
	content: "";
}

/* reviews */

.reviews{
	padding: 0px 0;
}
.reviews h2{
	padding: 40px;
	font-size: 30px;
}
.left, .review{
	display: inline-block;
	vertical-align: top;
}
.left{
	width: 20%
}
.review{
	width: 78%;
}
.review ul{
	width: 95%;
	display: inline-block;
}
.review ul li{
	width: 45%;
	padding: 10px;
	display: inline-block;
	text-align: left;
}
.reviews .wrapper a{
	display: inline-block;
	vertical-align: top;
}
.star, .date,.name{
	padding: 10px 0;
	display: inline-block;
}
.date{
	float: right;
}
.reviews h3{
	padding: 10px 0;
 }
.btn{
 	padding: 20px 80px;
	border: 1px solid #4E494E;
	margin: 50px 0;
	display: inline-block;
 }
.btn:hover{
	background-color: #4E494E;
	color: #fff;
}

/* footer */

footer{
	padding: 60px 0;
	background-color: #F6EDDC;
}
footer h4{
	font-size: 30px;
}
footer h5{
	font-size: 16px;
}
.links, .links ul{
	display: inline-block;
}
.ul1{
	padding-right: 75px;
}
.ul2{
	padding: 0 75px;
}
.email{
	width: 40%;
	float: right;
	/*margin-left: 110px;*/
	display: inline-block;
	vertical-align: top;
	/*float: right;*/
}
.email h4{
	padding: 15px 0;
	font-size: 16px;
}
.email input{
 	width: 260px;
 	padding: 20px;
 	border: none;
 	margin-right: -5px;
}
.submit{
	padding: 20px;
	background-color: #4E494E;
	color: #fff;
	font-size: 12px;
	display: inline-block;
}
.submit:hover{
	background-color: #F8A883;
	color: #4E494E;
}
.foot-top{
	padding-bottom: 30px; 
}
.offer{
	margin: 28px 0;
	display: inline-block;
	background-color: yellow;
}
.get a{
	margin-right: 20px;
}
.get i{
	padding-right: 15px;
}
.links ul{
	display: block;
}
.links li{
	padding: 15px 0;
}
.links a{
	padding: 5px;
	font-size: 14px;
}
.links a:hover{
	background-color: #4E494E;
	color: #F6EDDC;
}
.foot{
	width: 72.2%;
	/*padding: 0 163px;*/
	border-top: 1px solid #4E494E;
	margin: 0 auto;
}
.foot li{
	padding: 25px;
	display: inline-block;
}
.foot .fa{
	font-size: 25px;
}
.foot-link{
	display: inline-block;
}
.icons{
	display: inline-block;
}
.links .ul{
	display: inline-block;
	/*padding-right: 100px;*/
}

@media only screen and (max-width: 995px){
 	.top span{
		display: none;
	}
	.checkbtn{
		display: block;
	}
	.navbar li{
		display: block;
	}
 	.navbar{
		width: 100%;
		display: none;
		position: fixed;
		/*top: 15%;*/
		left: 0;
		background-color: #F6EDDC;
		text-align: center;
	}
	.email{
		width: 100%;
		margin: 30px auto;
		display: block;
		text-align: center;
	}
	.email h4{
		display: block;
		margin: 0 auto;
	}
	.offer{
		display: block;
		margin: 30px auto;
	}
	.links{
		width: 100%;
	}
	.links ul{
		width: 100%;
		display: inline-block;
		text-align: center;
	}
	.links .ul{
		width: 49%;
	}
	.links h5{
		text-align: center;
	}
	.foot{
		text-align: center;
	}
}

